@import url("https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Changa+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Proza+Libre&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-bgcolor: #7b66ff;
  --sec-bgcolor: #96efff;
  --heading-font: "Changa One", sans-serif;
  --text-font: "Hanken Grotesk", sans-serif;
  --btn-font: "Proza Libre", sans-serif;
  --logo-font: "Rubik Moonrocks", sans-serif;
  --radius: 0.3rem;
}

::-webkit-scrollbar {
  background-color: whitesmoke;
  max-width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 30rem;
  background-color: var(--main-bgcolor);
}

h1,
h2,
h3,
h4 {
  font-family: var(--text-font);
}

p {
  font-family: var(--text-font);
}

a {
  text-decoration: none;
}

button {
  font-family: var(--btn-font);
  border: none;
  border-radius: var(--radius);
  background-color: var(--main-bgcolor);
  color: whitesmoke;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 10px -6px black;
}

body {
  background-color: whitesmoke;
}

header {
  padding: 1rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  min-width: 100%;
  position: sticky;
  top: 0;
  z-index: 10;
  transition: 0.2s ease-in-out;
  box-shadow: 0 0 10px -8px black;
}

.header-style {
  background-color: white;
  box-shadow: 0 0 10px -8px black;
}

#logo {
  font-family: var(--heading-font);
  color: var(--main-bgcolor);
  font-size: 4.5ch;
}

.container {
  padding: 1rem 3rem;
}

#hr {
  border: none;
  outline: 1px solid var(--sec-bgcolor);
}

.gallery-img,
video {
  border-radius: var(--radius);
  min-height: 100%;
  max-height: 10rem;
  min-width: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  cursor: pointer;
  box-shadow: 0 4px 38px -10px rgba(0, 0, 0, 0.3);
}

video {
  min-height: 15rem;
  max-height: 15rem;
  min-width: 100%;
  max-width: 100%;
}

.alert {
  padding: 0.5rem;
  text-align: center;
  font-family: var(--text-font);
  position: relative;
}

#close {
  position: absolute;
  top: 0.3rem;
  right: 3rem;
  font-size: 2.2ch;
  cursor: pointer;
}

.alert-success {
  color: #3c763d;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}

.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}

.btn {
  position: relative;
}

.btn:disabled {
  background-color: #7a66ffbf;
  cursor: auto;
}

.button--text {
  transition: all 0.2s;
}

.btn--loading .button--text {
  visibility: hidden;
  opacity: 0;
}

.btn--loading::after {
  content: "";
  position: absolute;
  width: 18px;
  height: 20px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border: 3px solid transparent;
  border-top-color: white;
  border-radius: 50%;
  animation: button-loading-spinner 1s ease infinite;
}

@keyframes button-loading-spinner {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@media screen and (max-width: 700px) {
  header,
  .container {
    padding-inline: 1rem;
  }
}
