main {
  display: grid;
  grid-template-columns: 15rem auto;
  gap: 1rem;
}

.folder-box,
.menu {
  border-radius: var(--radius);
  background-color: white;
  min-height: 85svh;
  max-height: 85svh;
  overflow-y: scroll;
  position: relative;
}

.folder-box h1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.folder-box h1,
.menu h1 {
  padding: 0.5rem 1rem;
  position: sticky;
  top: 0;
  background-color: white;
}

#new-folder button {
  padding: 0.2em 0.5em;
}

.folders {
  padding: 1rem;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

.resources {
  padding: 1rem;
  margin-top: 1rem;
}

.folder-items {
  display: grid;
  grid-template-columns: auto 1rem;
  gap: 0.5rem;
  align-items: center;
}

.folder {
  font-family: var(--text-font);
  padding: 0.8rem;
  background-color: var(--main-bgcolor);
  color: whitesmoke;
  border-radius: var(--radius);
}

.folder > p {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.delete img {
  min-height: 1.5rem;
  max-height: 1.5rem;
}

.resource-img {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1rem;
}

@media screen and (max-width: 1500px) {
  .resource-img {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (max-width: 1300px) {
  .resource-img {
    grid-template-columns: repeat(5, 1fr);
  }
}

@media screen and (max-width: 1100px) {
  main {
    grid-template-columns: 1fr;
  }

  .folder-box,
  .menu {
    min-height: max-content;
  }

  .folders {
    display: flex;
    gap: 2rem;
    overflow-x: scroll;
    margin: 0;
  }

  .resources {
    margin: 0;
  }

  .resource-img {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media screen and (max-width: 900px) {
  .resource-img {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media screen and (max-width: 700px) {
  .resource-img {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 500px) {
  .resource-img {
    grid-template-columns: 1fr;
  }
}
