.folder-box h1 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

#upload {
  padding: 0.5em 1em;
}

.folders,
.resources {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  gap: 1rem;
}

.folders {
  grid-template-columns: 1fr;
}

.resources {
  margin-top: 1rem;
}

/* .resource {
  background-color: white;
  display: grid;
} */

.resource-info {
  padding: 1rem;
}

#delete {
  background-color: red;
  padding: 0.5em 1em;
  border-radius: var(--radius);
  font-family: var(--text-font);
  color: whitesmoke;
  font-size: 1.8ch;
}

.folder {
  font-family: var(--text-font);
  padding: 0.8rem;
  background-color: var(--main-bgcolor);
  color: whitesmoke;
  border-radius: var(--radius);
}

@media screen and (max-width: 1200px) {
  .gallery-box {
    grid-template-columns: repeat(3, 1fr);
  }
}
