{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create-folder.css') }}">
{% endblock %}

{% block title %}
Upload Media
{% endblock %}

{% block body %}
<form action="{{ url_for('upload_media',folder_name=folder) }}" method="post" enctype="multipart/form-data">
  <div class="input">
    <label for="name">Select Media</label>
    <input required type="file" name="image" id="name" accept="/*" multiple>
  </div>
  <button type=" submit">Upload</button>
</form>
{% endblock %}