{% extends 'base.html' %}

{% block head %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/view.css') }}">
{% endblock %}

{% block title %}
{{ folder }}
{% endblock %}

{% block body %}
<div class="folder-box">
  <h1>
    {{ folder }}
    <a href="{{ url_for('upload_media', folder_name=folder) }}">
      <button id="upload">Upload Media</button>
    </a>
  </h1>
  <a id="delete" href="{{ url_for('delete_media', parent_folder='Graphics', folder_name=folder) }}">
    Delete All
  </a>
  <div class="folders">
    {% for folder in folders %}
    <div class="folder">
      {{ folder.name }}
    </div>
    {% endfor %}
  </div>
  <div class="resources">
    {% for result in results %}
    <div class="resource">
      <div class="resource-img">
        <img src="{{ result.url }}" alt="">
      </div>
      <div class="resource-info">
        <!-- <p>{{ result }}</p> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}